<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interswitchng.interswitchpossdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".MainActivity"
            android:finishOnTaskLaunch="true"
            android:label="IswPos"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ISW.NoActionBar" />
        <activity
            android:name=".modules.ussdqr.UssdActivity"
            android:finishOnTaskLaunch="true"
            android:label="USSD"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ISW.NoActionBar" />
        <activity
            android:name=".modules.ussdqr.QrCodeActivity"
            android:finishOnTaskLaunch="true"
            android:label="QR Code"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ISW.NoActionBar" />
        <activity
            android:name=".modules.card.CardActivity"
            android:finishOnTaskLaunch="true"
            android:label="Card"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ISW.NoActionBar" />
        <activity
            android:name=".modules.paycode.PayCodeActivity"
            android:finishOnTaskLaunch="true"
            android:label="Pay Code"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/ISW.NoActionBar" />
    </application>

</manifest>